* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
    width: 40%;
    color: #fff;
    border-radius: 25px;
    background: inherit;
    object-fit: cover;
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.4);
    padding: 2rem;
}

.container .videoBG {
    position: fixed;
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
    filter: blur(5px);
    min-width: 100vw;
    min-height: 100vh;
}

.container img {
    width: 30%;
}

.container h1,
.container p {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.container p {
    font-size: 1.125rem;
}

.container .temp {
    font-size: 2rem;
    font-weight: 700;
}

.container .desc {
    text-transform: capitalize;
}

.container form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.container form input {
    border: none;
    outline: none;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.4);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
}

.container form button {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 0.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
    border: none;
}


@media (min-aspect-ratio: 16/9) {
    .videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .videoBG {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    body{
        margin: 0;
        padding: 0;
    }

    .container{
        position: absolute;
        top: 15%;
        left: 0;
        right: 0;
        width: 60%;
        height: 60vh;
    }

    .videoBG{
        position: relative;
        right: 0;
        bottom: 0;
        min-width: 100vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}